@model IEnumerable<AuditApp.Models.Planta>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-sm-6">
        <h3>Listado Plantas</h3>
    </div>
    <hr />
    <p>
        <a asp-action="Create" style="font-size: 1.3em; color: blue"><i class="text-primary bi-arrow-right-circle me-1"></i>Nuevo</a>
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    @*<a asp-action="Details" asp-route-id="@item.Id">Detalles</a>*@
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
