
﻿@using Microsoft.AspNetCore.Http
@using System.Data;
@using Microsoft.AspNetCore.Identity;
@using static AuditApp.Controllers.AuditorController

@inject SignInManager<UsuarioBase> SignInManager
@inject UserManager<UsuarioBase> UserManager
@model List<charts>
@{
    //Dictionary<string, int> PlantaContador = new Dictionary<string, int>();// { {"AE",ViewData["Contador"][AutoElevadores]}, {, }, {, } };
    //PlantaContador = Model;
    List<string> labels =new List<string>();
    List<int> data = new List<int>();

}


@*<h1>Home Auditores</h1>
<a>@UserManager.GetUserAsync(User).Result.Id</a>*@

@*<style>
    .chart-container {
        width: 50%;
        height: 50%;
        margin: auto
    }
</style>*@
@*@foreach (var item in Model)
{
    <div><a>KEY=@item.Key -  VALOR = @item.Value </a></div>
}*@


<div class="container" style="vertical-align:central;">
    <div class="row">
        <div class="col-12 col-md-6">
            <h4 style="margin:20px; align-content:center;">Indicador de auditorias por tipo</h4><br />
            <canvas id="chart_pie"></canvas>
        </div>
        <div class="col-12 col-md-6">
            <h4 style="margin:20px; align-content:center;">Indicador de auditorias por empresa</h4><br />
            <canvas id="chart_bar"></canvas>
        </div>
        @*<div class="row ">
            <div class="chart-container ">
                <canvas id="chart_pie2"></canvas>
            </div>
        </div>*@
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<script>
    const ctx2 = document.getElementById("chart_pie").getContext('2d');
    const myChart2 = new Chart(ctx2, {
      type: 'pie',
      data: {
        labels: ["Autoelevadores", "Herramientas y máquinas", "Tableros Electricos"],
        datasets: [{
          label: 'food Items',
        //   backgroundColor: 'rgba(161, 198, 247, 1)',
          //borderColor: 'rgb(47, 128, 237)',
          data: [@ViewBag.AElevadores, @ViewBag.HYM, @ViewBag.Tableros],
          backgroundColor: ["#0074D9", "#FF4136", "#2ECC40",
            "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00",
            "#001f3f", "#39CCCC", "#01FF70", "#85144b",
            "#F012BE", "#3D9970", "#111111", "#AAAAAA"]
        }]
      },
    });
</script>

<script>
   
   var chartdata = @Html.Raw(Json.Serialize(Model));   
    var Labels = [];
    var Datas = [];
    chartdata.forEach(function(value,index){
        console.log(JSON.stringify(value))
        Labels.push(value.myLabel);
        Datas.push(value.myData);

    })

        //$.each(chartdata, function (index, dto) {
        //    Labels.push(dto.MyLabel);
        //    Datas.push(dto.MyData);
        //});

    const ctx = document.getElementById("chart_bar").getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels:Labels,
        datasets: [{
          label: 'Num. Empresas',
          backgroundColor: 'rgba(161, 198, 247, 1)',
          borderColor: 'rgb(47, 128, 237)', 
           data: Datas
        }]       
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            }
          }]
        }
      },
    });
</script>

@foreach (var item in labels)
{
    <div><a>Labels = @item </a></div>
}
