@page
@model ExternalLoginModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h4>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
=======
    ViewData["Title"] = "Registrarse";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Asocie su cuenta de @Model.ProviderDisplayName.</h4>
<hr />

<p id="external-login-description" class="text-info">
    Te has autenticado con <strong>@Model.ProviderDisplayName</strong> exitosamente.
    Por favor ingrese una dirección de email para el sitio y clickee el botón Registrarse para completar el inicio de sesión.
>>>>>>> Developers
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
<<<<<<< HEAD
            <button type="submit" class="btn btn-primary">Register</button>
=======
            <button type="submit" class="btn btn-primary">Registrarse</button>
>>>>>>> Developers
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
