@using System.Collections
@model IEnumerable<AuditApp.Models.FormAutoElevadores>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
           ViewData["Title"] = "AutoElevadores";
        Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<div class="row">
    <div class="col-sm-12">
        <h3>Listado Auditorías Autoelevadores</h3>
    </div>
</div>
<hr/>
<div>
    <p>
        <a asp-action="Create" style="font-size: 1.3em; color: blue"><i class="text-primary bi-arrow-right-circle me-1"></i>Nuevo</a>
    </p>
</div>
<div class="container">

    @*@if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }*@
    @*<div class="row">
            <div class="col-sm-6">
                <h3>AUDITORIAS AUTOELEVADORES</h3>
            </div>
            <div class="col-sm-6">
                <a class="btn btn alert-success d-block" asp-action="Create" asp-controller="FAutoElevadores">Agregar FAC</a>
            </div>
        </div>*@


    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered tabletable-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.FormID)</td>
                        <td>@Html.DisplayNameFor(m => m.ElevadorID)</td>
                        <td>@Html.DisplayNameFor(m => m.Fecha)</td>
                        <td>@Html.DisplayNameFor(m => m.Observaciones)</td>
                        @*<td>@Html.DisplayNameFor(m => m.AuditorId)</td>*@
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FormID</td>
                            <td>@item.ElevadorID</td>
                            <td>@item.Fecha</td>
                            <td>@item.Observaciones</td>
                            @*<td>@item.AuditorId</td>*@
                            <td>
                                <a class="btn btn alert-primary" asp-action="Details" asp-controller="FAutoElevadores" asp-route-id="@item.FormID">Detalle</a>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        }
        else
        {
            <p>En el momento no hay autoelavadores que mostrar.</p>
        }


    </div>
</div>
